{% extends 'layout.twig' %}

{% block headimports %}
  <!--CDN Sweet Alert-->
  <script src="/js/sweetalert2.all.js"></script>
  <script src="/js/remove.js"></script>
{% endblock %}

{% block body %}
	{% if app.session.get('success') %}
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Éxito! </strong>><span>{{ app.session.get('success')}}</span>
		</div>
	{% endif %}
  {{parent()}}

	<!-- CONTENIDO GENERAL -->
	<div class="gral-container" id="gral-container">
		<div class="container">
			<h2 class="titulo-ppal"> Complejos de Futbol </h2>
				<div class="row">
				    {% for comp in complejos %}  
				      	<div class="col-xs-6">
				      		<div id="comp-{{comp.id}}" class="well well-sm complejo-row">
								<span class="izquierda">
									{{ comp.nombre }}
								</span>
								<span class="derecha">
					      			<button onclick="addCancha('{{comp.id}}')" class="glyphicon glyphicon-th-list btn verde"></button>
						      		<button class="glyphicon glyphicon-pencil btn azul"></button>
						      		<button onclick="remove('{{comp.id}}')" class="glyphicon glyphicon-remove btn rojo"></button>
					      		</span>
				      		</div>


						</div>
				    {% endfor %}
				</div>
			
		</div>
	</div>
  
{% endblock %}
